* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 50px 450px;
  background: linear-gradient(to left, blue, cyan);
}

/* .grid {
  width: 385px;
  border-radius: 8px;
  height: 385px;
  border: solid white 5px;
  display: flex;
  flex-wrap: wrap;
} */

.grid div {
  width: 25px;
  height: 25px;
}

.invader {
  background-color: purple;
  border-radius: 10px;
}

.shooter {
  background-color: green;
}

.laser {
  background-color: orange;
}

.boom {
  background-color: red;
}
